<div class="container p-4">
    <div class="row">
        {{#each contacts}}
        <div class="col-md-3 p-2">
            <div class="card">
                <div class="card-body">
                    <img src="/img/contacts/{{img}}" alt="" class="rounded-circle mx-auto d-block logo_home"
                        height="100">
                    <h4>{{name}} <br> {{lastname}}</h4>
                    <h6><i class="fa fa-phone" aria-hidden="true"></i> {{tel1}}</h6>
                    <h6><i class="fa fa-phone" aria-hidden="true"></i> {{tel2}}</h6>
                    <h6><i class="fa fa-at" aria-hidden="true"></i> {{email}}</h6>
                </div>
                <div class="card-footer text-right">
                    <a href="/contact/edit/{{_id}}"><button class="btn btn-primary"><i class="fa fa-pencil-square-o"
                                aria-hidden="true"></i></button></a>
                    <a href="/contact/delete/{{_id}}" onclick="return confirm('¿Está seguro que desea eliminar el contacto?');"><button class="btn btn-danger"><i class="fa fa-trash-o"
                                aria-hidden="true"></i></button></a>

                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>